.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.image__wrapper {
    display: flex;
    position: relative;
}

.image__wrapper>div {
    position: absolute;
    top: -21px;
    right: -90px;
}

/* .image__wrapper--reverse {
    display: flex;
    position: relative;
} */

.image__wrapper--reverse>div {
    position: absolute;
    top: -21px;
    right: 140px;
}

.content {
    width: 45%;
}

.content>p {
    margin-top: 10px;
    font-size: 13px;
}


.image {
    width: 243px;
    height: 528px;
    border-radius: 30px;
}

.image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    border: 10px solid white;
}