.card {
    height: 200px;
    width: 200px;
    background: var(--green-secondary);
    border-radius: 20px;
    /* box-shadow: 5px 5px 25px var(--green-secondary); */
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    position: relative;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    position: absolute;
    bottom: -75px;
}

.card-image {
    width: 8rem;
}

.card-container>svg {
    width: 25%;
    height: 50%;
    padding: 17px;
    background: white;
    border-radius: 20px;
}

.card-container p {
    position: absolute;
    top: 114px;
    /* width: 60%; */
    padding: 1.37rem;
    font-size: 0.9rem;
    font-weight: 500;
}