.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    color: white;
}



.logo-container {
    display: flex;
    align-items: center;
}

/* .logo {
    width: 70px;
    height: 70px;
    border-radius: 15px;
} */

.logo>img {
    width: 40%;
    border-radius: 15px;
    padding: 15px 15px 15px 0;
}